body{
    width: 85%; margin: auto;
    padding-top: 5vh; padding-bottom: 10vh;
}
@media(width<=600px){
    body{
        width: 100%; 
    }
    li{
        margin-left: -20px;
    }
    li>span{
        font-size: 0.7rem;
    }


}
.add{
    width: 50%; height: 30px;

}
.submit, .edit{
    width: 50%;
    margin-top: 10vh;
    margin: auto;
}

h1{
    font-size: 5vh;
}
*{
   font-size: 2vh;
}
/* ul{
    margin-bottom: -15vh;
} */
